*,
*:after,
*:before {
    box-sizing: border-box;
}

#game-zone {
    position: relative;
    background: gray;
    width: 820px;
    height: 820px;
    border: 10px solid black;
}

#player {
    z-index: 99z;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background: green;
}

.enemy {
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background: red;
}

.bomb {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background-color: blue;*/

}

@keyframes explos {
    0% {
        -webkit-transform: scale(0.5)
            /*!translate(-38%, -37%)*/
        ;
        transform: scale(0.5)
            /*!translate(-38%, -37%)*/
        ;
        /*!transform-origin: center*/
    }

    100% {
        -webkit-transform: scale(1)
            /*!translate(-38%, -37%)*/
        ;
        transform: scale(1)
            /*!translate(-38%, -37%)*/
        ;
        /*!transform-origin: center;*/
    }
}


/* anim for bomb
body{
  width:200px;
  height: 200px;
  border: 1px solid black;
}


div
{
  position: absolute;
  top:50px;
  left:50px;
  
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
  animation-name: example;
  animation-duration: 0.5s;
  
}


}*/